%h1
  = t("sites.#{current_site.path}.rewards.title")
%ul
  - @rewards.each do |reward|
    %li{:class => ('clickable' if @project.can_back?(current_site) and not reward.sold_out?)}
      = hidden_field_tag 'url', "#{back_project_path(@project)}/?reward_id=#{reward.id}"
      %h1= t("sites.#{current_site.path}.rewards.reward_title", :minimum => reward.display_minimum)
      - if reward.maximum_backers
        .maximum_backers
          - if reward.sold_out?
            .sold_out= t('reward.sold_out')
          - else
            .limited= t('reward.limited')
          .remaining= reward.display_remaining
        .clear
      .desc
        - if current_user and current_user.admin
          #{on_the_spot_edit reward, :description, :type => :textarea}
        - else
          = auto_link(reward.description, :html => {:target => :_blank})
      .clear
      .reward_backers
        = pluralize reward.backers.confirmed.count, t('backer_singular'), t('backer_plural')
