= content_for :content_header do
  %h1= t("sites.#{current_site.path}.content_header.about.title")
  %h2= raw t("sites.#{current_site.path}.content_header.about.subtitle")
  .bread= t("sites.#{current_site.path}.content_header.about.bread")
#about
  .img
    imagem
  .video
    %p.hint= t("sites.#{current_site.path}.content_header.about.parag")
    %iframe{:src=>"http://player.vimeo.com/video/31010174?portrait=0&amp;color=bab8b8", :width => '400', :height=> 225}

