!!! 5
%html{:lang => I18n.locale}
  = render :partial => 'layouts/head'
  %body#site{:class => current_site.path.to_s} 
    = render :partial => 'layouts/flash', :locals => { :flash => flash } unless flash.empty?
    = render :partial => 'layouts/locales'
    = render :partial => 'layouts/pre_header'
    #main
      #header_wrapper
        #header
          = render :partial => "/sites/#{current_site.path}/logo"
      = render :partial => "/sites/#{current_site.path}/menu"
      #content_wrapper
        - unless is_homepage?
          #content_header_wrapper
            #content_header
              = yield :content_header
        #content
          = yield
      #footer= render :partial => "/sites/#{current_site.path}/footer"
    = render '/layouts/login' unless current_user
